
<div class="container">
        <div class="container-fluid bg-3 text-center"> 
                <h3>Our main interests</h3>   
                <div class="row">
                  <div class="col-sm-4">
                    <img src="..\assets\Images\g1.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <div class="overlay">
                        <div class="text">Celebrity Management</div>
                    </div>
                  </div>
                  <div class="col-sm-4"> 
                    <img src="..\assets\Images\g2.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <div class="overlay">
                        <div class="text">Corporate Events</div>
                    </div>
                  </div>
                  <div class="col-sm-4"> 
                    <img src="..\assets\Images\g3.jpg" class="img-responsive" style="width:100%" alt="Image">
                    <div class="overlay">
                        <div class="text">Wedding Planning</div>
                    </div>
                  </div>
                 
                </div>
              </div>
            <br>
    <div class="col-xs-6">
      <h2>About Us</h2>
      <p>
          We offer complete range of services, right from the venue selection to honeymoon packages. While we take care of each and every aspect of your wedding, meanwhile you can take reassurance from our meticulous attention to detail, excellent industry relationships and our extensive experience. Our professional wedding planners in Jabalpur are more than happy to travel across places in order to ensure that we can play a part in making your day perfect, so regardless of the location in you are being married, Team Panache will be there.
      </p>
    </div>
    <div class="col-xs-6">
        <img src="..\assets\Images\aboutus1.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
</div>
