<div class="container text-align:center">
  <h1 style="text-align:center; font-family: cursive;">Gallery</h1>
  <p>AS ONE OF THE TOP DESTINATION WEDDING PLANNER AND CORPORATE EVENT PLANNER IN INDIA..!!!</p>
</div>
<div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <img src="..\assets\Images\g4.jpg" class="img-responsive" style="width:100%;" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <img src="..\assets\Images\g5.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <img src="..\assets\Images\g6.png" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <img src="..\assets\Images\g7.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>
  
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <img src="..\assets\Images\g1.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <img src="..\assets\Images\g2.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <img src="..\assets\Images\g3.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <img src="..\assets\Images\g2.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>
<br>
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-3">
        <img src="..\assets\Images\image5.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <img src="..\assets\Images\image3.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <img src="..\assets\Images\image1.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <img src="..\assets\Images\image4.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div>